<%- include("header") -%>

<h2>Pick Your Passion</h2>
<div class="contain">
<div class="row row-cols-1 row-cols-md-2 g-4">
    
    <div class="col-lg-4">
      <a href="/burrito">
      <div class="card" id="burritoPic">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1562059390-a761a084768e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1006&q=80" class="card-img-top" alt="Avatar">
            <div class="middle">
              <div class="text">Burritos</div>
            </div>
          </div>
        
        
      </div>
    </a>
    </div>
    <div class="col-lg-4">
      <a href="/pasta">
      <div class="card" id="pastaPic">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1579684947550-22e945225d9a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80" class="card-img-top" alt="Avatar">
            <div class="middle">
              <div class="text">Pastas</div>
            </div>
          </div>
      </div>
      </a>
    </div>
    
    <div class="col-lg-4">
      <a href="/pizza">
      <div class="card" id="pizzaPic"> 
        <div class="container">
            <img src="https://images.unsplash.com/photo-1594007654729-407eedc4be65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1869&q=80" class="card-img-top" alt="Avatar">
            <div class="middle">
              <div class="text">Pizzas</div>
            </div>
          </div>
        
      </div>
    </a>
    </div>
    <div class="col-lg-4">
      <a href="/meat">
      <div class="card" id="meatPic">
        <div class="container">
            <img src="https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="Avatar">
            <div class="middle">
              <div class="text">Meat Dishes</div>
            </div>
          </div>
       
      </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="/toastie">
        <div class="card" id="toastiePic">
            <div class="container">
                <img src="https://images.unsplash.com/photo-1630330159773-4b2e6e5b8a56?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80" class="card-img-top" alt="Avatar">
                <div class="middle">
                  <div class="text">Toasties</div>
                </div>
              </div>
            </div>
            </a>
      </div>
      <div class="col-lg-4">
        <a href="/dessert">
        <div class="card" id="dessertPic">  
        <div class="container">
            <img src="https://images.unsplash.com/photo-1551024506-0bccd828d307?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80" class="card-img-top" alt="Avatar">
            <div class="middle">
              <div class="text">Desserts</div>
            </div>
          </div>
        </div>
        </a>
        
      </div>
      
  </div>
</div>

<%- include("footer") -%>
