<%- include('header') -%>
<div class="row">
<h1 class="col-12">Hank Marvins</h1>
<h3 class="col-12">A Place for Foodies</br>to be Free</h3>
<div class="col-lg-3"></div>
<button class="btn btn-lg btn-primary col-lg-2"><a href="/food">I'm Starving</a></button>
<button class="btn btn-lg btn-primary col-lg-2"><a href="/recipes">Share your Food</a></button>
<button class="btn btn-lg btn-primary col-lg-2"><a href="/getintouch">Get In Touch</a></button>
<div class="col-lg-3"></div> 


</div> 




<%- include('footer') -%>
